.fresh-cleaning--XP9 {
    background-color: #ffffff;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .rectangle-1-iyR {
      background-color: rgba(217, 217, 217, 0.0500000007);
      height: 101.2rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 139.5rem;
    }
    .shutterstock657213997-1-qKH {
      height: 49rem;
      left: 93.4rem;
      object-fit: cover;
      position: absolute;
      top: 42.5rem;
      vertical-align: top;
      width: 68rem;
    }
    .fresh-clean-1-vrX {
      height: 17.4rem;
      left: 28.1rem;
      object-fit: cover;
      position: absolute;
      top: 0;
      vertical-align: top;
      width: 21.2rem;
    }
    .services-GQb {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.5rem;
      left: 91.9rem;
      line-height: 1.2125;
      position: absolute;
      top: 1.7rem;
      white-space: nowrap;
      width: 8.2rem;
    }
    .about-us-Ktf {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.5rem;
      left: 76.4rem;
      line-height: 1.2125;
      position: absolute;
      top: 1.7rem;
      white-space: nowrap;
      width: 8.5rem;
    }
    .cleaning-tipe-oJ3 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.5rem;
      left: 105.7rem;
      line-height: 1.2125;
      position: absolute;
      top: 1.7rem;
      white-space: nowrap;
      width: 12.5rem;
    }
    .home-u6B {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.5rem;
      left: 63.8rem;
      line-height: 1.2125;
      position: absolute;
      top: 1.7rem;
      white-space: nowrap;
      width: 5.6rem;
    }
    .rectangle-2-xq9 {
      background-color: #d9d9d9;
      height: 12.9rem;
      left: 30rem;
      position: absolute;
      top: 18.9rem;
      width: 132rem;
    }
    .fresh-cleaning-service-for-your-home-and-other-hGw {
      color: #151516;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.6rem;
      font-weight: 600;
      height: 13.1rem;
      left: 31.5rem;
      line-height: 1.2125;
      position: absolute;
      top: 19.7rem;
      width: 40.8rem;
  
      .fresh-cleaning-service-for-your-home-and-other-hGw-sub-0 {
        color: #5c6bf1;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2125;
      }
      .fresh-cleaning-service-for-your-home-and-other-hGw-sub-1 {
      }
    }
    .your-premier-cleaning-solution-at-fresh-clean-we-specialize-in-delivering-pristine-cleanliness-and-unmatched-quality-to-homes-and-businesses-we-are-your-go-to-cleaning-experts-EJo {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 17.5rem;
      left: 31.8rem;
      line-height: 1.2125;
      position: absolute;
      top: 37.3rem;
      width: 50.4rem;
    }
    .rectangle-3-pXu {
      height: 8.2rem;
      left: 38.7rem;
      object-fit: contain;
      position: absolute;
      top: 71.4rem;
      vertical-align: top;
      width: 27.9rem;
    }
    .rectangle-4-9aB {
      height: 10.5rem;
      left: 41.3rem;
      object-fit: contain;
      position: absolute;
      top: 69.1rem;
      vertical-align: top;
      width: 28.1rem;
    }
    .item-38344222333-5Cw {
      color: #62bbee;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 800;
      height: 3rem;
      left: 38.7rem;
      line-height: 1.2125;
      position: absolute;
      top: 74.4rem;
      white-space: nowrap;
      width: 19.2rem;
    }
    .vector-1-afV {
      height: 9.75rem;
      left: 37.1rem;
      object-fit: contain;
      position: absolute;
      top: 70.9rem;
      vertical-align: top;
      width: 24.9rem;
    }
    .ellipse-1-KNB {
      height: 7.7rem;
      left: 149.5rem;
      object-fit: contain;
      position: absolute;
      top: 4.1rem;
      vertical-align: top;
      width: 8.5rem;
    }
    .ellipse-2-44s {
      height: 5.1rem;
      left: 150.7rem;
      object-fit: contain;
      position: absolute;
      top: 6.7rem;
      vertical-align: top;
      width: 6rem;
    }
    .ellipse-3-PN3 {
      height: 6.9rem;
      left: 83.1rem;
      object-fit: contain;
      position: absolute;
      top: 12.8rem;
      vertical-align: top;
      width: 8.1rem;
    }
    .ellipse-4-vMy {
      height: 4rem;
      left: 84.6rem;
      object-fit: contain;
      position: absolute;
      top: 15.7rem;
      vertical-align: top;
      width: 5.4rem;
    }
    .ellipse-5-E7m {
      height: 5.9rem;
      left: 36.6rem;
      object-fit: contain;
      position: absolute;
      top: 60.4rem;
      vertical-align: top;
      width: 6.9rem;
    }
    .ellipse-6-ZQw {
      height: 3.1rem;
      left: 38.1rem;
      object-fit: contain;
      position: absolute;
      top: 63.2rem;
      vertical-align: top;
      width: 4.4rem;
    }
    .ellipse-7-VpP {
      height: 6.5rem;
      left: 75.1rem;
      object-fit: contain;
      position: absolute;
      top: 89.4rem;
      vertical-align: top;
      width: 8rem;
    }
    .ellipse-8-eBV {
      height: 2.4rem;
      left: 77.1rem;
      object-fit: contain;
      position: absolute;
      top: 93.5rem;
      vertical-align: top;
      width: 5.15rem;
    }
    .ellipse-9-P95 {
      height: 2.9rem;
      left: 76.5rem;
      object-fit: contain;
      position: absolute;
      top: 93rem;
      vertical-align: top;
      width: 5.2rem;
    }
  }
  